{
  "presets": [
    "@babel/react",
    [
      "@babel/env",
      {
        "targets": {
          "browsers": ["last 2 versions", "IE >= 8"],
          "node": "current"
        },
        "useBuiltIns": "entry"
      }
    ],
    "@babel/stage-0"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/syntax-dynamic-import",
    "add-module-exports",
    "react-loadable/babel"
  ],
  "env": {
    "development": {
      "plugins": [
        "@babel/transform-react-jsx-source"
      ]
    }
  }
}
